body{
	margin: 0;
	padding: 0;
}

#top {
	margin: 0;
	padding: 0;
	height: 350px;
	width: 100%;
	text-align: center;
	vertical-align: center;

}

#name {
	font-family: KGAllOfMe;
	font-size: 140px;
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 40px;
	z-index: 1;
	position: relative;
	width: 100%;
	color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#b-day {
	margin: 0;
	padding: 0;
	font-family: StarsFromOurEyes;
	font-size: 70px;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 180px;
	width: 100%;
	color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#line {
	margin: 0;
	padding: 0;
	height: 6px;
	width: 100%;
	background-color: black;
}

.line-outline {
	margin: 0;
	padding: 0;
	height: 2px;
	width: 100%;
	background-color: white;
}

#below {
	padding: 10px;
	padding-top: 15px;
}

#message {
	font-family: helvetica;
	font-size: 20px;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}

#message-title {
	text-align: center;
	font-family: helvetica;
	font-size: 25px;
	padding-bottom: 5px;
}

@font-face {
	font-family: KGAllOfMe;
	src: url("../fonts/KGAllOfMe.ttf");
}

@font-face {
	font-family: StarsFromOurEyes;
	src: url("../fonts/StarsFromOurEyes.ttf");
}

.particle {
	height:3px;
    position:absolute;
    width:3px;
}