#top {
	background-image: url("../img/top.png");
}

#name-input {
	height: 170px;
	padding: 0;
	text-align: center;
	width: 100%;
	border: 0;
    background: transparent;
}

#message {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
}

#color-input {
	background-color: #0000ff;
	height: 30px;
	width: 300px;
	border: 2px solid #cccccc;
	margin: 0px auto;

}

#color-container {
	width: 100%;
}

#birthday-container {
	margin-top: 20px;
	text-align: center;
	width: 100%;
}